
@{
    ViewBag.Title = "Faq";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .letra {
        font-size: large;
    }




</style>


<section id="faq" class="faq">
    <div class="container letra" data-aos="fade-up">

        <div class="section-title">
            <h2>Preguntas Frecuentes</h2>
        </div>

        <ul class="faq-list" data-aos="fade-up">

            <li>
                <a data-toggle="collapse" class="collapsed" href="#faq1">¿Cómo crear mi usuario? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-x icon-close"></i></a>
                <div id="faq1" class="collapse" data-parent=".faq-list">
                    <p>
                        Debe ingresar al link con el nombre de <b>"Registrarse"</b>, como se detalla en la foto adjunta, a continuación deberá completar los campos solictados
                        para poder crear una cuenta de usuario, la cual le permitirá iniciar sesión en el sitio. 
                    </p>
                    <br />
                    <div class="">

                        <img src="~/Content/Ayuda/2021-07-15 (2).png" class="img-fluid" style="border:groove" />
                    </div>
                </div>
            </li>


            <li>
                <a data-toggle="collapse" href="#faq2" class="collapsed">¿Dónde puedo llamar para realizar una consulta? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-x icon-close"></i></a>
                <div id="faq2" class="collapse" data-parent=".faq-list">
                    <p style="text-align:justify">
                        A continuación, en el link <b>"Contáctanos"</b> mostramos las diferentes lineas de contacto, nuestros teléfonos, emails donde podés comunicarte. Disponemos de la sección
                        <b>"Dejanos tu MENSAJE"</b>, donde podés realizar cualquier consulta. Además, disponés de la sección <b>"Preguntas Frecuentes"</b>, link que te llevará al apartado
                        dónde se disponen una serie de preguntas y respuestas que pueden ayudarte.
                    </p>
                    <br />
                    <div>


                        <img src="~/Content/Ayuda/2021-07-15 (3).png" class="img-fluid" style="border:groove" />
                    </div>
                </div>
            </li>

            <li>
                <a data-toggle="collapse" href="#faq3" class="collapsed">¿Cómo realizo un pedido? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-x icon-close"></i></a>
                <div id="faq3" class="collapse" data-parent=".faq-list">
                    <p style="text-align:justify">
                        Para poder realizar un pedido debes haberte registrado  previamente en la seccion "Registrarse",es decir poseer una cuenta para luego poder iniciar sesión y de esa manera acceder a la sección que se muestra
                        en la siguiente imagen <b>"Realiza tu Pedido."</b>
                    </p>
                    <br />
                    <div>


                        <img src="~/Content/Ayuda/2021-07-15 (5).png" class="img-fluid" style="border:groove" />
                    </div>
                </div>
            </li>

            <li>
                <a data-toggle="collapse" href="#faq4" class="collapsed">¿Cuándo entregan pedidos en mi zona? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-x icon-close"></i></a>
                <div id="faq4" class="collapse" data-parent=".faq-list">
                    <p style="text-align:justify">
                        En la seccion de "Repartos", podrás  informarte de los días y las zonas de reparto que ofrecemos. Cualquier consulta podés comunicarte a los teléfonos o por e-mail, indicados en la seccion "Contáctanos".
                    </p>
                    <br />
                    <div>
                        <img src="~/Content/Ayuda/2021-07-15 (7).png" class="img-fluid" style="border:groove" />
                    </div>

                </div>
            </li>

            <li>
                <a data-toggle="collapse" href="#faq5" class="collapsed">¿Puedo cambiar mi contraseña? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-x icon-close"></i></a>
                <div id="faq5" class="collapse" data-parent=".faq-list">
                    <p style="text-align:justify">
                        Si, podés cambiar tu contraseña. Debés hacer click sobre tu nombre de usuario (ubicado en la parte superior derecha de la página) y automaticamente serás dirigido a la pantalla
                        correspondiente para poder cambiar tu contraseña. Ese nombre de usuario aparece una vez que iniciaste sesión en el sitio.
                    </p>
                    <br />
                    <div>

                        <img src="~/Content/Ayuda/2021-07-15 (9).png" class="img-fluid" style="border:groove" />
                    </div>
                </div>
            </li>

            <li>
                <a data-toggle="collapse" href="#faq6" class="collapsed">¿Qué productos ofrecen? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-x icon-close"></i></a>
                <div id="faq6" class="collapse" data-parent=".faq-list">
                    <p style="text-align:justify">
                        En la siguiente imagen te mostramos la sección dónde podes informarte de nuestros productos. Si deseas realizar
                        un pedido debes iniciar sesión.
                    </p>
                    <br />
                    <div>


                        <img src="~/Content/Ayuda/2021-07-15 (11).png" class="img-fluid" style="border:groove" />
                    </div>
                </div>
            </li>
            <li>
                <a data-toggle="collapse" href="#faq7" class="collapsed">Ya realicé mi pedido ¿Cuándo lo recibiré? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-x icon-close"></i></a>
                <div id="faq7" class="collapse" data-parent=".faq-list">
                    <p style="text-align:justify">
                        Dentro de las 48 hs te notificaremos si tu pedido está completo y cuando lo recibirás.
                    </p>
                    <br />

                </div>
            </li>
            <li>
                <a data-toggle="collapse" href="#faq8" class="collapsed">¿Hay un mínimo de compra? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-x icon-close"></i></a>
                <div id="faq8" class="collapse" data-parent=".faq-list">
                    <p style="text-align:justify">
                       El importe de compra mínimo es de $4000. Con entrega sin costo de envío. 
                    </p>
                    <br />

                </div>
            </li>

        </ul>

    </div>
</section><!-- End Frequently Asked Questions Section -->