
@{
    ViewBag.Title = "Respuesta";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container" style="margin-top:100px; padding-top: 50px; text-align:center; color: red">
    <h2>Gracias por  escribirnos, en breve nos comunicaremos con usted.</h2>

</div>