
@{
    ViewBag.Title = "TerminosYCondiciones";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container" style="margin-top:70px; padding-top: 70px">
    <h2><u>Términos y Condiciones de Uso</u></h2>
    <br />
    <p style="text-align:justify">

        <b>INFORMACIÓN RELEVANTE</b>

        Bienvenido a J&A Carnes S.A.  proporcionado por Tirabosque Desirée.
        Es requisito necesario para la adquisición de los productos que se ofrecen en este sitio, que lea y acepte los siguientes Términos y Condiciones que a continuación se redactan. El uso de nuestros servicios así como la compra de nuestros productos implicará que usted ha leído y aceptado los Términos y Condiciones de Uso en el presente documento. <br />
        Todos los productos  que son ofrecidos por nuestro sitio web pudieran ser creados, cobrados, enviados o presentados por una página web tercera y en tal caso estarían sujetas a sus propios Términos y Condiciones. En algunos casos, para realizar un pedido, será necesario el registro por parte del usuario, con ingreso de datos personales fidedignos.
        El usuario puede elegir y cambiar la clave para su acceso de administración de la cuenta en cualquier momento, en caso de que se haya registrado y que sea necesario para la compra de alguno de nuestros productos. J&A Carnes S.A. no asume la responsabilidad en caso de que entregue dicha clave a terceros.
        <br />Todas las compras y transacciones que se lleven a cabo por medio de este sitio web, están sujetas a un proceso de confirmación y verificación, el cual podría incluir la verificación del stock y disponibilidad de producto, validación de la forma de pago, validación de la factura (en caso de existir) y el cumplimiento de las condiciones requeridas por el medio de pago seleccionado. En algunos casos puede que se requiera una verificación por medio de correo electrónico.
        Los precios de los productos ofrecidos en esta Tienda Online es válido solamente en las compras realizadas en este sitio web.<br />
        <b>LICENCIA</b>
        J&A Carnes S.A.  a través de su sitio web concede una licencia para que los usuarios utilicen  los productos que son vendidos en este sitio web de acuerdo a los Términos y Condiciones que se describen en este documento.
        <br />
        <b>USO NO AUTORIZADO</b>
        En caso de que aplique usted no puede colocar uno de nuestros productos, modificado o sin modificar, en un CD, sitio web o ningún otro medio y ofrecerlos para la redistribución o la reventa de ningún tipo.
        <br />
        <b>PROPIEDAD</b>
        Usted no puede declarar propiedad intelectual o exclusiva a ninguno de nuestros productos, modificado o sin modificar. Todos los productos son propiedad  de los proveedores del contenido. En caso de que no se especifique lo contrario, nuestros productos se proporcionan  sin ningún tipo de garantía, expresa o implícita. En ningún caso esta compañía será  responsable de ningún daño incluyendo, pero no limitado a, daños directos, indirectos, especiales, fortuitos o consecuentes u otras pérdidas resultantes del uso o de la imposibilidad de utilizar nuestros productos.
        <br />
        <b>POLÍTICA DE REEMBOLSO Y GARANTÍA</b>
        En el caso de productos que sean  mercancías irrevocables no-tangibles, no realizamos reembolsos después de que se envíe el producto, usted tiene la responsabilidad de entender antes de comprarlo.  Le pedimos que lea cuidadosamente antes de comprarlo. Hacemos solamente excepciones con esta regla cuando la descripción no se ajusta al producto. Hay algunos productos que pudieran tener garantía y posibilidad de reembolso pero este será especificado al comprar el producto. COMPROBACIÓN ANTIFRAUDE
        La compra del cliente puede ser aplazada para la comprobación antifraude. También puede ser suspendida por más tiempo para una investigación más rigurosa, para evitar transacciones fraudulentas.
        <br />
        <b>PRIVACIDAD</b>
        Este J&A Carnes S.A. garantiza que la información personal que usted envía cuenta con la seguridad necesaria. Los datos ingresados por usuario o en el caso de requerir una validación de los pedidos no serán entregados a terceros, salvo que deba ser revelada en cumplimiento a una orden judicial o requerimientos legales.
        J&A Carnes S.A. reserva los derechos de cambiar o de modificar estos términos sin previo aviso.
    </p>
</div>